*{
    box-sizing: border-box;
    margin: 0;
}
.company{
    font-family: "Texturina", serif; 
}

li a{
    font-family: "Dosis", sans-serif;
}
h2{
    font-family: "Texturina", serif;
}
p{
    font-family: "Dosis", sans-serif;
    font-size: 40px;
}
.imgarch{
    border: 5px solid black;
}
.image{
    width: 600px;
    
}

