.company{
    font-family: "Texturina", serif; 
}

li a{
    font-family: "Dosis", sans-serif;
}
h2{
    font-family: "Texturina", serif;
}
p{
    font-family: "Dosis", sans-serif;
    font-size: 40px;
}
